<div class="row_top">
  <div class="course_code">
    Course Code
  </div>
  <div class = "meeting_section">
    Meeting Section
  </div>
  <div class = "enrollment">
    Enrollment
  </div>
  <div class="instructor">
    Instructor
  </div>
</div>

