<div class="table">
  <div class = "row">
    <div class = "course_code">Course Code </div>
    <div class = "section">
      <div class = "section_row">
        <div class = "meeting_section">Meeting Section</div>
        <div class = "enrollment">Enrollment</div>
        <div class = "enrollment">Instructor</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class = "course_code">
      CSC369
    </div>
    <div class = "section">
      <div class = "section_row">
        <div class = "meeting_section">
          L01 
        </div>
        <div class = "enrollment">
          100/200
        </div>
        <div class = "instructor">
          Bobby Wang
        </div>
      </div>
      <div class = "section_row">
        <div class = "meeting_section">
          L02
        </div>
        <div class = "enrollment">
          200/300
        </div>
        <div class="instructor">
          Sina Meraji
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "course_code">
      CSC443
    </div>
    <div class = "section">
      <div class = "section_row">
        <div class = "meeting_section">
          L01 
        </div>
        <div class = "enrollment">
          100/200
        </div>
        <div class = "instructor">
          Renee Miller 
        </div>
      </div>
      <div class = "section_row">
        <div class = "meeting_section">
          L02
        </div>
        <div class = "enrollment">
          200/300
        </div>
        <div class="instructor">
          Sina Meraji
        </div>
      </div>
    </div>
  </div>
</div>
